apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
namePrefix: prod-
replicas:
  - name: go-fiber-app
    count: 3
images:
  - name: nehaghauri/go-fiber-app
    newTag: latest
labels:
  - pairs:
      environment: production
